<div class="container">
    <div class="container-title">
        <h1>TRIQUI <span>#</span></h1>
    </div>
    <div class="container-players">
        <div class="players-input">
            <div>
                <input class="input-payer" placeholder="Jugador 1" />
            </div>
            <div>
                <h2>Vs</h2>
            </div>
            <div>
                <input class="input-payer" placeholder="Jugador 2" />
            </div>
        </div>
        <div class="players-button">
            <button class="success-button">Iniciar a Jugar</button>
        </div>
    </div>
    <div class="container-other"></div>
</div>