<div class="container-win">
    <h1 [ngStyle]="{'display': gameOver ? 'block': 'none'}">Ganador: {{playerWin}}</h1>
</div>

<div class="container-triqui">    
    <div class="player-one">
        <h3>{{player1}}</h3>
        <p>Use el click derecho en su turno</p>
    </div>

    <div class="triqui">
        <div class="triqui-column">
            <div class="triqui-column-one" 
                 (click)="onClick(0)"
                 (contextmenu)="onRightClick(0)"
                 [appSelectedBox]="one"
            ></div>
            <div (click)="onClick(1)"
                 (contextmenu)="onRightClick(1)"
                 [appSelectedBox]="two"
             ></div>
            <div class="triqui-column-three"
                 (click)="onClick(2)"
                 (contextmenu)="onRightClick(2)"
                 [appSelectedBox]="three"></div>
        </div>
        <div class="triqui-column">
            <div class="triqui-column-four"
                 (click)="onClick(3)"
                 (contextmenu)="onRightClick(3)"
                 [appSelectedBox]="four"
            ></div>
            <div class="triqui-column-five"
                 (click)="onClick(4)"
                 (contextmenu)="onRightClick(4)"
                 [appSelectedBox]="five"
            ></div>
            <div class="triqui-column-six"
                 (click)="onClick(5)"
                 (contextmenu)="onRightClick(5)"
                 [appSelectedBox]="six"
            ></div>
        </div>
        <div class="triqui-column">
            <div class="triqui-column-seven"
                 (click)="onClick(6)" 
                 (contextmenu)="onRightClick(6)"
                 [appSelectedBox]="seven"
            ></div>
            <div (click)="onClick(7)"
                 (contextmenu)="onRightClick(7)"
                 [appSelectedBox]="eigh"
            ></div>
            <div class="triqui-column-nine"
                 (click)="onClick(8)"
                 (contextmenu)="onRightClick(8)"
                 [appSelectedBox]="nine"
            ></div>
        </div>
    </div>

    <div class="player-two">
        <h3>{{player2}}</h3>
        <p>Use el click izquierdo en su turno</p>
    </div>    
</div>

<div *ngIf="gameOver" class="container-button-reset">
    <button class="button-reset" (click)="resetGame($event)">Volver a jugar</button>
</div>