<div class="container-win">
    <h1>Player 1</h1>
</div>

<div class="container-triqui">    
    <div class="player-one">
        <h3>Jugador 1</h3>
        <p>Use el click derecho en su turno</p>
    </div>

    <div class="triqui">
        <div class="triqui-column">
            <div class="triqui-column-one"></div>
            <div></div>
            <div class="triqui-column-three"></div>
        </div>
        <div class="triqui-column">
            <div class="triqui-column-four"></div>
            <div class="triqui-column-five"></div>
            <div class="triqui-column-six"></div>
        </div>
        <div class="triqui-column">
            <div class="triqui-column-seven"></div>
            <div></div>
            <div class="triqui-column-nine"></div>
        </div>
    </div>

    <div class="player-two">
        <h3>Jugador 1</h3>
        <p>Use el click izquierdo en su turno</p>
    </div>
</div>